body{
    font-family: 'IM Fell English SC', serif;
    background-color:lavenderblush;
}

.header_div{
    background-color:ghostwhite;
    color: red;
}

.header_div img{
    width: 100px;
}

.main_div{
    background-color: lavender;
    padding: 10px;
    margin-top: 15px;
    border: 3px dashed white;
}

.main_div label{
    font-size: 22px;
    font-family: 'IM Fell English SC', serif;
    box-shadow: 5px 5px 18px black;
}

#camera, #result{
    padding: 5px;
    padding-right: 5px;
    border: 3px solid lavenderblush;
    width: 350px;
    height: 300px;
    
}

#button_capture{
    width: 150;
    padding: 10px;
    margin-top: 10px;
    border: 2px dashed dodgerblue;
}

#button_result{
    width: 150;
    padding: 10px;
    margin-top: 10px;
    border: 2px dashed lawngreen;
}

#footer_div{
    margin-bottom: 50px;
}

#footer_div h4{
    background-color: ghostwhite;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px white;
}

#footer_div img{
width: 70px;
}

#money_div{
    text-align: center;
    color: slategrey;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 3;
    font-size: 30px;
}
